<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         processIsolation="false"
         stopOnFailure="true">
    <logging>
        <log type="coverage-html" target="bootstrap/cache/reports/coverage" lowUpperBound="55" highLowerBound="85" />
        <log type="coverage-clover" target="bootstrap/cache/clover.xml"/>
        <log type="testdox-text" target="bootstrap/cache/reports/executed.txt"/>
    </logging>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
