includes:
	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrap: %rootDir%/../../../resources/ci/tools/phpstan/bootstrap.php

    ignoreErrors:
        # Laravel
        # - '#Call to an undefined static method Illuminate\\Support\\Facades\\Route::\S.+().#'
        # JsonApi Library
        # - '#.+ErrorMutatorException::__construct\(\) does not.+#'
